* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}

.nav-button {
  margin-left: 30px; /* 设置左边距 */
  text-decoration: none; /* 去掉下划线 */
  padding: 10px; /* 添加内边距 */
  background-color: blach; /* 背景颜色 */
  border-radius: 5px; /* 圆角边框 */
}

main {
  display: flex;
  background-color: rgb(0,0,0,0.7);
  align-items: center;
  justify-content: center;
  height: 90vh;

}

h1{
  color:lightblue;
  font-size: 5em;
  font-weight: 300;
  font-family: "Microsoft YaHei"
}

headd {
  display: flex;
  background-color: rgb(0,0,0,0.8);
  justify-content: left;
  align-items: center;
  height: 10vh;
}

a{
  text-decoration: none;
    color: white;

}

body{
  background-image: url("../images/bg.jpg");
  -webkit-background-size: cover;
          -o-background-size: cover;                
          background-size: cover;
}

home{
  color: white;
  font-size: 2em;
  font-weight: 300;
}

span.mark{
  border-right: 2px solid white;
  animation: blink 0.7s step-end infinite;
}


@keyframes blink{
  from,
  to{
    border-color: transparent;
  }
  50%{
    border-color: white;
  }
}