* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}
main {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1{
  color:lightblue;
  font-size: 5em;
  font-weight: 300;

}

span.mark{
  border-right: 2px solid white;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink{
  from,
  to{
    border-color: transparent;
  }
  50%{
    border-color: white;
  }
}